<div class="enfant mat-typography" >
    <div class="filter"></div>

    <div class="form">
        <h2>Liste Des Enfants</h2>
        <div class="liste-enfats">
            <div class="enf">
                <input type="checkbox" name="" class="checkbox" id="mohamed" />

                <label for="mohamed">
                    <svg class="icon">
                        <use xlink:href="assets/ico.svg#icon-checkmark"></use>
                    </svg>
                    <img class="img" src="assets/download.jpg" alt="" />
                </label>
            </div>
            
            <div class="enf">
                <input type="checkbox" name="" class="checkbox" id="hedi" />

                <label for="hedi">
                    <svg class="icon">
                        <use xlink:href="assets/ico.svg#icon-checkmark"></use>
                    </svg>
                    <img class="img" src="assets/download.jpg" alt="" />
                </label>
            </div>
            <div class="enf">
                <input type="checkbox" name="" class="checkbox" id="mahdi" />

                <label for="mahdi">
                    <svg class="icon">
                        <use xlink:href="assets/ico.svg#icon-checkmark"></use>
                    </svg>
                    <img class="img" src="assets/download.jpg" alt="" />
                </label>
            </div>
            <div class="enf">
                <input type="checkbox" name="" class="checkbox" id="mo" />

                <label for="mo">
                    <svg class="icon">
                        <use xlink:href="assets/ico.svg#icon-checkmark"></use>
                    </svg>
                    <img class="img" src="assets/download.jpg" alt="" />
                </label>
            </div>
        </div>
        <input type="number" placeholder="Temp(min)">
        <button>Confirmer</button>
    </div>
</div>